In [50]:
a = float(input());

if a <= 5000:
  if a <= 1000:
    print("ALtitude is safe land the plane")
  elif a > 1000:
    print("Bring the aLtitude to 1000 & land the plane")
else:
  print("ALtitude isn't safe take a round about")

3501
Bring the aLtitude to 1000 & land the plane

In [87]:
lower = 2
upper = 200

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 2 and 200 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199